/**/.ipynb_checkpoints
/**/__pycache__
*.svg
/**/.snakemake
*.done
test/processing/test_RNA_10X/*
!test/processing/test_RNA_10X/config.yaml
test/processing/test_RNA_Lime/*
!test/processing/test_RNA_Lime/config.yaml
test/processing/test_LARRY_10X/*
!test/processing/test_LARRY_10X/config.yaml
test/processing/test_LARRY_Lime/*
!test/processing/test_LARRY_Lime/config.yaml
test/processing/test_DNA_Lime/*
!test/processing/test_DNA_Lime/config.yaml
test/processing/test_DNA/*
!test/processing/test_DNA/config.yaml
/**/.DS_Store
/**/dist
/**/build
/**/*.egg-info
/**/.Rhistory
.vscode
test/log/
test/data/
test/figure/
test/raw_data/DARLIN_HSC/old_sample_sheet/
